<h1>This is a test of {{name}}</h1>
<h2>Welcome to the topic {{topic}}</h2>
<h3>"The words "interpolation binding" above are interpolation binding. 
   Works well for strings." 
  </h3>

<h2>The image below is an example of property binding[]</h2>
<img [src]="image" class="image_1">

<br>
<button (click)="onClick()">CLICK ME</button>
<br>
<h3>The button is an example of event binding. It uses onClick() to print to console.  Check it out!</h3>
<br>
<h3>Type here for 2 way data binding in action!!!</h3>
<input [(ngModel)]="value" type="text">
<br>
<div style="text-align: center">
{{value}}
</div>
<br>

<app-test-comp></app-test-comp>
<app-image-component></app-image-component>
